*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html {
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: #fff;
}
header{
    margin-top: 20px;
    height: 35vh;
    width: 100vw;
    display: flex;
    /* align-items: center; */
    justify-content: center;
}
header #img {
    height: 10vh;
    width: 20vw;
    position: absolute;
}
header img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#content{
    width: 70vw;
    position: relative;
    display: flex;
    align-items: center;
    justify-content:left;
    gap: 210px;
}
#links{
    display: flex;
    justify-content: space-between;
    width: 8vw;
}
#links a {
    font-size: 1.5rem;
}
#fb {
    color: #0d3caa;
}
#fb:hover {
    color: #132d69;
}
#instagram{
    color: rgb(245, 21, 9);
}
#instagram:hover {
    color: rgb(179, 16, 8);
}
#yt {
    color: red;
}
#yt:hover {
    color: rgb(203, 5, 5);
}
hr{
    margin-top: 20px;
}
main {
    margin: 20px;
    margin-top: 50px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
form {
    position: relative;
    width: 80vw;
    color: #142f6c;
    margin-top: 5rem;
}
.line{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}
input, label, select:hover{
    cursor: pointer;
}
select{
    margin-top: 5px;
    padding: 5px;
    width: 35vw;
    height: 8vh;
    border-radius: 5px;
    border: #228c4b 1px solid;
}
input {
    margin-top: 5px;
    padding: 5px;
    width: 35vw;
    height: 8vh;
    border-radius: 5px;
    border: #228c4b 1px solid;
}
.singleLine {
    margin-bottom: 25px;
}
#address {
    width: 80vw;
}
#image {
    width: 80vw;
}
.singLineRadoi{
    display: block;
    margin-top: 25px;
    margin-bottom: 25px;
}
.singLineRadoi input {
    width: 5vw;
    height: 3vh;
}
h4 {
    color: #142f6c;
}
.singleLineCheckbox{
    display: flex;
    margin-top: 40px;
    align-items: center;
}
#robot {
    height: 5vh;
    width: 5vw;
}

.singleLineBtn{
    margin-top: 40px;
    margin-bottom: 100px;
}
.singleLineBtn button {
    width: 100%;
    height: 7vh;
    border: none;
    border-radius: 10px;
    background-color: #235884;
    color: #fff;
    text-transform: uppercase;
}
.singleLineBtn button:hover {
    cursor: pointer;
    background-color: #173854;
}