@font-face {
    font-family: Funnel;
    src: url(./FunnelSans-VariableFont_wght.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Funnel;
}
html,
body {
    height: 100%;
    width: 100%;
}
#main {
    height: 100%;
    width: 100%;
    background-color: #fff;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
#nav {
    height: 100px;
    width: 100%;
    padding: 0 40px;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: red; */
}
#nav h1 {
    font-size: 31px;
    font-weight: 100;
    position: relative;
}
#nav h1 span::after {
    content: ""; /* No text content, just the dot */
    display: inline-block; /* Make it behave like inline text */
    width: 5px; /* Width of the dot */
    height: 5px; /* Height of the dot */
    background-color: springgreen; /* Green color */
    border-radius: 50%; /* Make it a circle */
    margin-left: 3px;
}
#nav #part2 {
    display: flex;
    align-items: center;
    justify-content: center;
}
#nav #part2 a {
    text-decoration: none;
    color: #222;
    margin: 30px;
}
#nav #part2 a:hover {
    text-decoration: underline;
}
#nav #part2 a:nth-last-child(1) {
    padding: 8px 22px;
    position: relative;
    border-radius: 50px;
    border: 1px solid #000;
    overflow: hidden;
}
#nav #part2 a:nth-last-child(1) h5 {
    font-weight: 100;
    position: relative;
    z-index: 999;
}
#nav #part2 a:nth-last-child(1) #green {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    background-color: springgreen;
    transition:left 0.4s ease;
}
#nav #part2 a:nth-last-child(1):hover{
    text-decoration: none;
}
#nav #part2 a:nth-last-child(1):hover #green {
    left: 0;
}

/* Main Page Content  */
#main>h1 {
    font-size: 5.4vw;
    width: 60%;
    position: relative;
    text-align: center;
    font-weight: 100;
    text-transform: capitalize;
    z-index: 99;
}
#main>h1::after {
    content: "";
    position: absolute;
    width: 35%;
    height: 16px;
    bottom: -5%;
    left: 50%;
    background-image: url(./pictures/underline-green.svg);
    transform: translate(-50%, 0%);
}
#img1 {
    height: 400px;
    width: 260px;
    position: absolute;
    top: 20%;
    left: 6%;
}
#img2 {
    height: 230px;
    width: 250px;
    position: absolute;
    right: 25%;
    top: 18%;
    z-index: 9;
}
#img3 {
    height: 230px;
    width: 240px;
    position: absolute;
    right: 9%;
    bottom: 12%;
}
#main img {
    transition: margin 0.6s ease;
}
#main img:hover{
    margin-top: -10px;
    cursor: pointer;
}
#main #img3:hover {
    margin-bottom: 10px;
}